In [1]:
#Librerías

import pandas as pd

# England Leagues 2010 - 2023

In [22]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "E0" + ".csv"

# Nomenglatura de ligas:
# Premier League (FT & HT results; match stats; match, total goals & AH odds) / E0
# Championship (FT & HT results; match stats; match, total goals & AH odds) / E1
# League 1 (FT & HT results; match stats; match, total goals & AH odds) / E2
# League 2 (FT & HT results; match stats; match, total goals & AH odds) / E3

In [23]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_e = "https://www.football-data.co.uk/mmz4281/"

In [24]:
# Listas para almancenar las ligas
leagues = ['E0', 'E1', 'E2', 'E3']
england = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_e + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('E0', 'Premier League', inplace=True)
        df['League'].replace('E1', 'Championship', inplace=True)
        df['League'].replace('E2', 'League 1', inplace=True)
        df['League'].replace('E3', 'League 2', inplace=True)
        england.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [25]:
len(england) #contamos los elementos que son 12 temporadas X 4 Ligas desde

52

In [26]:
england[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,Premier League,10,14/08/10,Aston Villa,West Ham,3,0,H,2,0,...,2.11,2.01,1.82,1.75,20,0.00,1.45,1.40,3.00,2.78
1,Premier League,10,14/08/10,Blackburn,Everton,1,0,H,1,0,...,2.20,2.08,1.79,1.70,29,0.00,2.20,2.05,1.85,1.75
2,Premier League,10,14/08/10,Bolton,Fulham,0,0,D,0,0,...,2.22,2.09,1.75,1.69,24,0.00,1.60,1.55,2.56,2.36
3,Premier League,10,14/08/10,Chelsea,West Brom,6,0,H,2,0,...,1.53,1.49,2.61,2.49,19,-2.00,2.06,2.01,1.91,1.85
4,Premier League,10,14/08/10,Sunderland,Birmingham,2,2,D,1,0,...,2.28,2.16,1.71,1.65,24,0.00,1.64,1.55,2.50,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Premier League,10,22/05/11,Newcastle,West Brom,3,3,D,2,0,...,1.72,1.67,2.27,2.13,20,-0.50,2.13,2.09,1.84,1.81
376,Premier League,10,22/05/11,Stoke,Wigan,0,1,A,0,0,...,1.98,1.90,1.95,1.88,27,0.00,2.10,2.00,1.93,1.85
377,Premier League,10,22/05/11,Tottenham,Birmingham,2,1,H,0,0,...,1.68,1.61,2.38,2.23,22,-1.00,1.93,1.89,2.03,1.99
378,Premier League,10,22/05/11,West Ham,Sunderland,0,3,A,0,1,...,1.72,1.67,2.25,2.14,20,-0.50,2.05,1.98,1.94,1.91
379,Premier League,10,22/05/11,Wolves,Blackburn,2,3,A,0,3,...,1.85,1.79,2.09,2.00,21,-0.25,1.88,1.85,2.07,2.03

# Scotland Leagues 2010 - 2023

In [27]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "SC0" + ".csv"

# Nomenglatura de ligas:
# Premier League (FT & HT results; match stats; match, total goals & AH odds) / SC0
# Division 1 (FT & HT results; match stats; match, total goals & AH odds) / SC1
# Division 2 (FT & HT results; match stats; match, total goals & AH odds) / SC2
# Division 3 (FT & HT results; match stats; match, total goals & AH odds) / SC3

In [28]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_sc = "https://www.football-data.co.uk/mmz4281/"

In [29]:
# Listas para almancenar las ligas
leagues = ['SC0', 'SC1', 'SC2', 'SC3']
scotland = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_sc + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('SC0', 'Premier League', inplace=True)
        df['League'].replace('SC1', 'Division 1', inplace=True)
        df['League'].replace('SC2', 'Division 2', inplace=True)
        df['League'].replace('SC3', 'Division 3', inplace=True)
        scotland.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [30]:
len(scotland) #contamos los elementos

52

In [31]:
scotland[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,Premier League,10,14/08/10,Aberdeen,Hamilton,4,0,H,2,0,...,2.30,2.19,1.75,1.61,17,0.00,1.55,1.44,2.75,2.60
1,Premier League,10,14/08/10,Hearts,St Johnstone,1,1,D,1,1,...,2.17,2.06,1.78,1.70,16,0.00,1.44,1.38,3.00,2.84
2,Premier League,10,14/08/10,Inverness C,Celtic,0,1,A,0,0,...,1.65,1.61,2.30,2.19,17,0.00,6.86,5.72,1.14,1.11
3,Premier League,10,14/08/10,Rangers,Kilmarnock,2,1,H,1,0,...,1.62,1.59,2.35,2.23,14,0.00,1.04,1.03,13.00,10.42
4,Premier League,10,14/08/10,St Mirren,Dundee United,1,1,D,0,0,...,2.35,2.24,1.70,1.58,18,0.00,2.52,2.29,1.65,1.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Premier League,10,14/05/11,Hibernian,Aberdeen,1,3,A,1,0,...,2.30,2.17,1.70,1.62,20,0.00,1.70,1.62,2.36,2.22
224,Premier League,10,14/05/11,St Mirren,St Johnstone,0,0,D,0,0,...,2.30,2.21,1.65,1.60,20,0.00,1.72,1.62,2.38,2.21
225,Premier League,10,15/05/11,Celtic,Motherwell,4,0,H,2,0,...,1.55,1.48,2.75,2.49,14,-2.00,1.92,1.87,2.04,1.98
226,Premier League,10,15/05/11,Dundee United,Hearts,2,1,H,1,1,...,2.30,2.14,1.70,1.64,17,-0.25,1.95,1.84,2.11,2.02
227,Premier League,10,15/05/11,Kilmarnock,Rangers,1,5,A,0,3,...,1.60,1.54,2.42,2.33,14,1.50,1.97,1.93,1.96,1.91

# Germany Leagues 2010 - 2023

In [32]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "D1" + ".csv"

# Nomenglatura de ligas:
# Bundesliga 1 (FT & HT results; match stats; match, total goals & AH odds) / D1
# Bundesliga 2 (FT & HT results; match stats; match, total goals, & AH odds) / D2

In [33]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_d = "https://www.football-data.co.uk/mmz4281/"

In [34]:
# Listas para almancenar las ligas
leagues = ['D1', 'D2']
germany = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_d + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('D1', 'Bundesliga 1', inplace=True)
        df['League'].replace('D2', 'Bundesliga 2', inplace=True)
        germany.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [35]:
len(germany) #contamos los elementos

26

In [36]:
germany[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,Bundesliga 1,10,20/08/10,Bayern Munich,Wolfsburg,2,1,H,1,0,...,2.33,17,0.00,1.25,1.19,5.35,4.30,NaN,NaN,NaN
1,Bundesliga 1,10,21/08/10,FC Koln,Kaiserslautern,1,3,A,1,0,...,1.73,21,0.00,1.63,1.54,2.52,2.39,NaN,NaN,NaN
2,Bundesliga 1,10,21/08/10,Freiburg,St Pauli,1,3,A,0,0,...,1.88,21,0.00,1.69,1.60,2.36,2.25,NaN,NaN,NaN
3,Bundesliga 1,10,21/08/10,Hamburg,Schalke 04,2,1,H,0,0,...,1.82,21,0.00,1.71,1.65,2.35,2.17,NaN,NaN,NaN
4,Bundesliga 1,10,21/08/10,Hannover,Ein Frankfurt,2,1,H,1,1,...,1.88,26,0.00,2.03,1.91,1.92,1.87,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Bundesliga 1,10,14/05/11,Hamburg,M'gladbach,1,1,D,0,1,...,2.42,21,0.00,2.10,2.03,1.97,1.81,NaN,NaN,NaN
302,Bundesliga 1,10,14/05/11,Hannover,Nurnberg,3,1,H,1,1,...,2.31,19,-0.50,2.11,2.05,1.86,1.82,NaN,NaN,NaN
303,Bundesliga 1,10,14/05/11,Hoffenheim,Wolfsburg,1,3,A,0,0,...,2.45,17,0.50,1.86,1.80,2.28,2.02,NaN,NaN,NaN
304,Bundesliga 1,10,14/05/11,Kaiserslautern,Werder Bremen,3,2,H,3,1,...,2.59,19,-0.25,1.98,1.90,2.04,1.98,NaN,NaN,NaN
305,Bundesliga 1,10,14/05/11,Mainz,St Pauli,2,1,H,0,1,...,2.62,17,-1.50,2.08,2.02,1.89,1.83,NaN,NaN,NaN

# Italy Leagues 2010 - 2023

Note: From 2018/2019 the shots data for Serie A is showing an inconsistency with previous seasons, and looks to be related to the inclusion of blocked shots. Users of the data should bear this in mind when collating several seasons together for analysis purposes.

In [37]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "I1" + ".csv"

# Nomenglatura de ligas:
# Serie A (FT & HT results; match stats; match, total goals & AH odds) / I1
# Serie B (FT & HT results; match stats; match odds and total goals odds) / I2

In [38]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_i = "https://www.football-data.co.uk/mmz4281/"

In [39]:
# Listas para almancenar las ligas
leagues = ['I1', 'I2']
italy = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_i + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('I1', 'Seria A', inplace=True)
        df['League'].replace('I2', 'Serie B', inplace=True)
        italy.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [40]:
len(italy)

26

In [41]:
italy[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,Seria A,10,28/08/10,Roma,Cesena,0,0,D,0,0,...,2.02,14,-1.25,1.90,1.86,2.05,2.01,NaN,NaN,NaN
1,Seria A,10,28/08/10,Udinese,Genoa,0,1,A,0,0,...,1.84,23,0.00,1.75,1.68,2.23,2.12,NaN,NaN,NaN
2,Seria A,10,29/08/10,Bari,Juventus,1,0,H,1,0,...,1.70,17,0.00,3.00,2.72,1.50,1.41,NaN,NaN,NaN
3,Seria A,10,29/08/10,Chievo,Catania,2,1,H,1,1,...,1.65,21,0.00,1.63,1.54,2.55,2.40,NaN,NaN,NaN
4,Seria A,10,29/08/10,Fiorentina,Napoli,1,1,D,0,1,...,1.75,21,0.00,1.67,1.61,2.43,2.23,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Seria A,10,22/05/11,Juventus,Napoli,2,2,D,0,1,...,2.27,20,-0.50,1.92,1.87,2.07,2.01,NaN,NaN,NaN
376,Seria A,10,22/05/11,Lecce,Lazio,2,4,A,2,2,...,2.26,16,0.75,2.11,2.06,1.85,1.81,NaN,NaN,NaN
377,Seria A,10,22/05/11,Palermo,Chievo,1,3,A,1,1,...,2.46,18,-0.75,2.11,2.07,1.84,1.81,NaN,NaN,NaN
378,Seria A,10,22/05/11,Roma,Sampdoria,3,1,H,1,1,...,2.60,20,-1.50,2.08,2.02,1.92,1.85,NaN,NaN,NaN
379,Seria A,10,22/05/11,Udinese,Milan,0,0,D,0,0,...,1.81,16,0.00,1.52,1.47,2.81,2.73,NaN,NaN,NaN

# Spain Leagues 2010 - 2023

In [42]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "SP1" + ".csv"

# Nomenglatura de ligas:
# La Liga Primera Division (FT & HT results; match stats; match, total goals & AH odds) / SP1
# La Liga Segunda Division (FT & HT results; match stats; match odds and total goals odds) / SP2

In [2]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_sp= "https://www.football-data.co.uk/mmz4281/"

In [46]:
# Listas para almancenar las ligas
leagues = ['SP1', 'SP2']
spain = [] # Aquí se almacenarán los nuevos data frames
league_to_country = {'SP1': 'Spain', 
                     'SP2': 'Spain'}

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_sp + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['Country'] = df['League'].map(league_to_country)
        df.insert(0, 'Country', df.pop('Country'))
        

        columnas_mantener = ['Date', 'Season', 'League', 'Country', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW', 'AHW', 'HC', 'AC', 'HF', 'AF', 'HFKC', 'AFKC', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR', 'HBP', 'ABP']
        df.drop(columns=[col for col in df.columns if col not in columnas_mantener], inplace=True)
       
        df['League'].replace('SP1', 'La Liga 1', inplace=True)
        df['League'].replace('SP2', 'La Liga 2', inplace=True)

        spain.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [47]:
len(spain)

26

In [49]:
spain[10]

,Country,League,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Spain,La Liga 1,20,12/09/2020,15:00,Eibar,Celta,0,0,D,...,1,3,17,13,3,3,4,4,1,0
1,Spain,La Liga 1,20,12/09/2020,17:30,Granada,Ath Bilbao,2,0,H,...,2,2,8,10,1,2,3,4,0,0
2,Spain,La Liga 1,20,12/09/2020,20:00,Cadiz,Osasuna,0,2,A,...,3,4,14,21,6,2,2,2,0,0
3,Spain,La Liga 1,20,13/09/2020,13:00,Alaves,Betis,0,1,A,...,2,4,19,17,6,4,3,3,0,0
4,Spain,La Liga 1,20,13/09/2020,15:00,Valladolid,Sociedad,1,1,D,...,3,2,15,17,5,3,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Spain,La Liga 1,20,22/05/2021,17:00,Osasuna,Sociedad,0,1,A,...,1,1,15,7,3,3,1,0,0,0
376,Spain,La Liga 1,20,22/05/2021,17:00,Real Madrid,Villarreal,2,1,H,...,4,2,8,13,6,1,0,0,0,0
377,Spain,La Liga 1,20,22/05/2021,17:00,Valladolid,Ath Madrid,1,2,A,...,4,3,11,11,4,6,4,6,0,0
378,Spain,La Liga 1,20,23/05/2021,17:30,Granada,Getafe,0,0,D,...,3,2,16,13,6,3,4,2,0,0
379,Spain,La Liga 1,20,23/05/2021,20:00,Sevilla,Alaves,1,0,H,...,2,2,11,8,6,4,1,0,0,0

# France Leagues 2010 - 2023

In [47]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "F1" + ".csv"

# Nomenglatura de ligas:
# Le Championnant (FT & HT results; match stats; match, total goals & AH odds) / F1
# Division 2 (FT & HT results; match stats; match odds and total goals odds) / F2

In [48]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_f = "https://www.football-data.co.uk/mmz4281/"

In [49]:
# Listas para almancenar las ligas
leagues = ['F1', 'F2']
france = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_f + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('F1', 'Le Championnant', inplace=True)
        df['League'].replace('F2', 'Division 2', inplace=True)
        france.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [50]:
len(france)

26

In [51]:
france[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,Le Championnant,10,07/08/10,Auxerre,Lorient,2,2,D,1,1,...,2.60,2.44,1.55,1.51,13,-0.50,1.90,1.83,2.03,1.94
1,Le Championnant,10,07/08/10,Lens,Nancy,1,2,A,0,1,...,2.58,2.35,1.60,1.54,11,0.00,1.50,1.42,2.85,2.67
2,Le Championnant,10,07/08/10,Lyon,Monaco,0,0,D,0,0,...,2.16,2.06,1.80,1.72,12,-1.25,2.09,2.01,1.84,1.79
3,Le Championnant,10,07/08/10,Marseille,Caen,1,2,A,0,0,...,1.84,1.75,2.12,2.00,9,-1.75,2.21,2.18,1.76,1.74
4,Le Championnant,10,07/08/10,Nice,Valenciennes,0,0,D,0,0,...,2.32,2.24,1.67,1.59,11,0.00,1.50,1.44,2.75,2.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Le Championnant,10,29/05/11,Lorient,Auxerre,1,2,A,1,1,...,2.10,2.00,1.80,1.73,20,-0.25,2.14,2.09,1.83,1.78
376,Le Championnant,10,29/05/11,Monaco,Lyon,0,2,A,0,0,...,2.00,1.94,1.91,1.79,17,0.25,1.85,1.80,2.11,2.04
377,Le Championnant,10,29/05/11,Nancy,Lens,4,0,H,2,0,...,1.83,1.76,2.14,2.02,20,-1.00,1.73,1.69,2.30,2.21
378,Le Championnant,10,29/05/11,St Etienne,Paris SG,1,1,D,0,0,...,1.83,1.78,2.14,2.00,20,0.50,2.17,2.13,1.79,1.76
379,Le Championnant,10,29/05/11,Valenciennes,Nice,2,1,H,0,0,...,2.22,2.11,1.75,1.70,20,-0.50,1.95,1.92,1.98,1.95

# Netherlands League 2010 - 2023

In [52]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "N1" + ".csv"

# Nomenglatura de ligas:
# Eredivisie (FT & HT results; match stats; match, total goals & AH odds) / F1

In [53]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_n = "https://www.football-data.co.uk/mmz4281/"

In [54]:
# Listas para almancenar las ligas
leagues = ['N1']
netherlands = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_n + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('N1', 'Eredivisie', inplace=True)
        netherlands.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [55]:
len(netherlands)

13

In [56]:
netherlands[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,Eredivisie,10,06/08/10,Roda,Twente,0,0,D,0,0,...,2.01,12,0.50,2.09,2.05,1.86,1.83,NaN,NaN,NaN
1,Eredivisie,10,07/08/10,Graafschap,Excelsior,3,0,H,1,0,...,2.20,9,0.00,1.34,1.29,3.60,3.33,NaN,NaN,NaN
2,Eredivisie,10,07/08/10,Heerenveen,PSV Eindhoven,1,3,A,0,0,...,2.20,12,0.50,2.09,2.03,1.87,1.84,NaN,NaN,NaN
3,Eredivisie,10,07/08/10,Heracles,Willem II,3,0,H,1,0,...,2.16,9,-1.00,2.01,1.97,1.94,1.90,NaN,NaN,NaN
4,Eredivisie,10,07/08/10,Nijmegen,VVV Venlo,1,0,H,0,0,...,2.02,12,-0.50,1.97,1.93,1.97,1.93,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Eredivisie,10,15/05/11,Heracles,Den Haag,3,0,H,0,0,...,2.64,17,-0.75,2.02,1.93,1.98,1.91,NaN,NaN,NaN
302,Eredivisie,10,15/05/11,Roda,Heerenveen,0,0,D,0,0,...,2.73,17,-0.50,1.89,1.85,2.04,2.00,NaN,NaN,NaN
303,Eredivisie,10,15/05/11,Utrecht,AZ Alkmaar,5,1,H,2,0,...,2.29,15,0.00,2.17,2.01,2.05,1.84,NaN,NaN,NaN
304,Eredivisie,10,15/05/11,Vitesse,Excelsior,1,4,A,0,1,...,2.48,17,-0.50,1.99,1.93,1.96,1.92,NaN,NaN,NaN
305,Eredivisie,10,15/05/11,Willem II,NAC Breda,0,1,A,0,0,...,2.68,12,0.50,1.72,1.69,2.29,2.20,NaN,NaN,NaN

# Belgium League 2010 - 2023

In [ ]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "B1" + ".csv"

# Nomenglatura de ligas:
# Jupiler League (FT & HT results; match stats; match, total goals & AH odds) / B1

In [57]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_b = "https://www.football-data.co.uk/mmz4281/"

In [58]:
# Listas para almancenar las ligas
leagues = ['B1']
belgium = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_b + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('B1', 'Jupiler', inplace=True)
        belgium.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [59]:
len(belgium)

13

In [60]:
belgium[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,Jupiler,10,30/07/10,Standard,Waregem,1,1,D,0,1,...,1.83,8,0.0,1.33,1.27,3.80,3.48,NaN,NaN,NaN
1,Jupiler,10,31/07/10,Anderlecht,Eupen,4,1,H,0,1,...,2.41,8,0.0,1.05,1.03,11.48,9.53,NaN,NaN,NaN
2,Jupiler,10,31/07/10,Kortrijk,Club Brugge,1,0,H,0,0,...,2.01,10,0.0,2.75,2.62,1.50,1.43,NaN,NaN,NaN
3,Jupiler,10,31/07/10,Mechelen,Lokeren,2,0,H,0,0,...,2.00,9,-0.5,2.07,2.02,1.88,1.82,NaN,NaN,NaN
4,Jupiler,10,31/07/10,St Truiden,Lierse,1,0,H,1,0,...,1.93,10,0.0,1.62,1.56,2.50,2.31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Jupiler,10,20/03/11,Mechelen,Eupen,2,0,H,0,0,...,1.99,5,0.0,1.20,1.19,4.65,4.11,NaN,NaN,NaN
236,Jupiler,10,20/03/11,St Truiden,Lokeren,0,2,A,0,0,...,1.74,7,0.0,2.45,2.38,1.57,1.51,NaN,NaN,NaN
237,Jupiler,10,20/03/11,Standard,Germinal,1,0,H,1,0,...,2.09,5,0.0,1.07,1.05,10.15,7.83,NaN,NaN,NaN
238,Jupiler,10,20/03/11,Westerlo,Charleroi,2,2,D,0,0,...,1.74,5,0.0,1.25,1.19,4.70,4.25,NaN,NaN,NaN
239,Jupiler,10,23/03/11,Charleroi,Cercle Brugge,0,3,A,0,1,...,1.77,27,0.0,2.26,2.11,1.81,1.73,NaN,NaN,NaN

# Portugal 2010 - 2023

In [ ]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "P1" + ".csv"

# Nomenglatura de ligas:
# Liga I (FT & HT results; match stats; match, total goals & AH odds) / P1

In [61]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_p = "https://www.football-data.co.uk/mmz4281/"

In [62]:
# Listas para almancenar las ligas
leagues = ['P1']
portugal = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_p + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('P1', 'Liga I', inplace=True)
        portugal.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [63]:
len(portugal)

13

In [64]:
portugal[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,Liga I,10,13/08/10,Sp Braga,Portimonense,3,1,H,2,0,...,1.66,11,-1.25,1.90,1.86,2.05,1.99,NaN,NaN,NaN
1,Liga I,10,14/08/10,Maritimo,Setubal,0,1,A,0,0,...,1.61,8,-0.75,1.92,1.89,2.00,1.97,NaN,NaN,NaN
2,Liga I,10,14/08/10,Naval,Porto,0,1,A,0,0,...,1.67,11,1.25,1.95,1.90,2.00,1.94,NaN,NaN,NaN
3,Liga I,10,14/08/10,Pacos Ferreira,Sp Lisbon,1,0,H,0,0,...,1.59,10,0.00,3.57,3.24,1.33,1.29,NaN,NaN,NaN
4,Liga I,10,15/08/10,Beira Mar,Leiria,0,0,D,0,0,...,1.54,17,0.00,1.75,1.70,2.25,2.10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Liga I,10,14/05/11,Naval,Guimaraes,0,3,A,0,2,...,1.69,17,0.50,1.96,1.92,2.01,1.95,NaN,NaN,NaN
236,Liga I,10,14/05/11,Olhanense,Rio Ave,2,2,D,0,1,...,1.61,18,0.25,1.90,1.84,2.07,2.00,NaN,NaN,NaN
237,Liga I,10,14/05/11,Pacos Ferreira,Academica,5,1,H,5,0,...,1.77,18,-0.75,2.03,1.95,1.92,1.87,NaN,NaN,NaN
238,Liga I,10,14/05/11,Setubal,Portimonense,3,1,H,1,1,...,1.71,17,-0.50,2.05,2.00,1.91,1.87,NaN,NaN,NaN
239,Liga I,10,14/05/11,Sp Braga,Sp Lisbon,0,1,A,0,1,...,1.61,23,0.00,1.86,1.78,2.10,2.03,NaN,NaN,NaN

# Turkey League 2010 - 2023

In [ ]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "T1" + ".csv"

# Nomenglatura de ligas:
# Futbol Ligi 1 (FT & HT results; match stats; match, total goals & AH odds) / T1

In [66]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_t = "https://www.football-data.co.uk/mmz4281/"

In [67]:
# Listas para almancenar las ligas
leagues = ['T1']
turkey = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_t + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('T1', 'Ligi 1', inplace=True)
        turkey.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [68]:
len(turkey)

13

In [69]:
turkey[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,Ligi 1,10,14/08/10,Bucaspor,Besiktas,0,1,A,0.0,0.0,...,1.96,1.87,2.00,1.87,11,1.00,1.95,1.90,1.99,1.96
1,Ligi 1,10,14/08/10,Eskisehirspor,Genclerbirligi,0,0,D,0.0,0.0,...,2.21,2.03,1.80,1.73,12,-0.50,2.02,1.99,1.94,1.86
2,Ligi 1,10,14/08/10,Gaziantepspor,Kasimpasa,0,0,D,0.0,0.0,...,2.20,2.09,1.85,1.66,12,-0.50,2.03,1.98,1.92,1.86
3,Ligi 1,10,14/08/10,Sivasspor,Galatasaray,2,1,H,1.0,1.0,...,2.04,1.92,1.93,1.82,12,0.50,2.26,2.18,1.73,1.71
4,Ligi 1,10,15/08/10,Ankaragucu,Trabzonspor,0,2,A,0.0,0.0,...,2.20,2.03,1.81,1.73,12,0.50,1.91,1.86,2.05,1.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Ligi 1,10,21/05/11,Bursaspor,Genclerbirligi,1,0,H,1.0,0.0,...,1.62,1.59,2.32,2.23,15,-0.75,1.75,1.72,2.21,2.16
302,Ligi 1,10,21/05/11,Gaziantepspor,Besiktas,0,0,D,0.0,0.0,...,1.63,1.58,2.30,2.24,14,-0.50,1.78,1.70,2.28,2.21
303,Ligi 1,10,22/05/11,Eskisehirspor,Kasimpasa,4,0,H,1.0,0.0,...,1.57,1.54,2.42,2.33,15,-0.75,1.84,1.80,2.13,2.06
304,Ligi 1,10,22/05/11,Karabukspor,Trabzonspor,0,4,A,0.0,1.0,...,1.60,1.54,2.62,2.35,15,1.75,1.85,1.75,2.17,2.12
305,Ligi 1,10,22/05/11,Sivasspor,Fenerbahce,3,4,A,1.0,2.0,...,1.60,1.54,2.62,2.35,13,1.75,1.90,1.86,2.04,2.00

# Greece League 2010 - 2023

In [ ]:
# Analisis de la estructura del link.
# https://www.football-data.co.uk/mmz4281/2223/E0.csv: "https://www.football-data.co.uk/mmz4281/" + "2223" + "/" + "G1" + ".csv"

# Nomenglatura de ligas:
# Ethniki Katigoria (FT & HT results; match stats; match, total goals & AH odds) / G1

In [70]:
# Declaramos una variable root con la parte del enlace que no cambia.
root_gr = "https://www.football-data.co.uk/mmz4281/"

In [71]:
# Listas para almancenar las ligas
leagues = ['G1']
greece = [] # Aquí se almacenarán los nuevos data frames

# Ciclo para leer los multiples cvs y adjuntarlos.
for league in leagues:
    for season in range(10, 23):
        df = pd.read_csv(root_gr + str(season) + str(season+1) + '/' + league + '.csv', encoding='unicode_escape') #encoding para no generar errores en la compilación
        df.insert(1, 'Season', season)
        df.rename(columns={'Div': 'League'}, inplace=True)
        df['League'].replace('G1', 'Ethniki Katigoria', inplace=True)
        greece.append(df) # Forma de almacenar los DF que se van a iterar en frames.

In [72]:
len(greece)

13

In [73]:
greece[0]

,League,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,Ethniki Katigoria,10,27/08/10,Panathinaikos,Xanthi,1,1,D,1,0,...,1.81,10.0,-1.50,2.01,1.95,1.96,1.92,NaN,NaN,NaN
1,Ethniki Katigoria,10,28/08/10,Iraklis,Olympiakos,2,1,H,0,0,...,1.64,9.0,1.00,2.18,2.14,1.79,1.76,NaN,NaN,NaN
2,Ethniki Katigoria,10,28/08/10,Larisa,Atromitos,1,0,H,0,0,...,1.51,9.0,-0.50,2.14,2.07,1.85,1.78,NaN,NaN,NaN
3,Ethniki Katigoria,10,28/08/10,Panionios,Olympiakos Volou,0,1,A,0,0,...,1.61,9.0,-0.75,2.13,2.09,1.82,1.80,NaN,NaN,NaN
4,Ethniki Katigoria,10,29/08/10,Ergotelis,Asteras Tripolis,0,1,A,0,1,...,1.54,9.0,0.00,1.62,1.54,2.46,2.32,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Ethniki Katigoria,10,17/04/11,Olympiakos,Larisa,6,0,H,3,0,...,2.40,2.0,0.00,1.02,1.02,13.00,12.93,NaN,NaN,NaN
236,Ethniki Katigoria,10,17/04/11,Olympiakos Volou,Panathinaikos,3,2,H,1,0,...,1.65,3.0,0.00,1.73,1.71,2.04,2.00,NaN,NaN,NaN
237,Ethniki Katigoria,10,17/04/11,Panserraikos,Ergotelis,0,4,A,0,2,...,1.72,3.0,0.00,1.66,1.63,2.20,2.14,NaN,NaN,NaN
238,Ethniki Katigoria,10,17/04/11,PAOK,Kerkyra,2,0,H,1,0,...,1.72,3.0,0.00,1.06,1.05,10.00,8.40,NaN,NaN,NaN
239,Ethniki Katigoria,10,17/04/11,Xanthi,Aris,1,2,A,1,1,...,1.79,3.0,0.00,7.50,6.95,1.08,1.07,NaN,NaN,NaN